beautifulsoup4==4.15.0
curl-cffi==0.16.0
patchright==1.62.1
#playwright-stealth==2.0.3
aiohttp==3.14
mypy==2.3.1
pydantic==2.13.4
pydantic-settings==2.15.0
pytest==9.1.1
pytest-asyncio==1.4.0
ruff==0.16.3
selectolax==0.4.11